<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Elenco Arbitri</title>
</head>

<body>
    <nav>
        <a href="/tornei">Tornei</a> |
        <a href="/squadre">Squadre</a> |
        <a href="/giocatori">Giocatori</a> |
        <a href="/arbitri">Arbitri</a> |
        <a href="/partite">Partite</a> |
        <a href="/utenti" sec:authorize="hasRole('ADMIN')">Utenti</a>
    </nav>
    <hr>

    <h1>Tutti gli Arbitri</h1>

    <a th:href="@{/admin/arbitro/nuovo}" sec:authorize="hasRole('ADMIN')">Nuovo arbitro</a>

    <ul>
        <li th:each="arbitro : ${elencoArbitri}">
            <a th:href="@{'/arbitro/' + ${arbitro.id}}" th:text="${arbitro.nome} + ' ' + ${arbitro.cognome}">Nome
                Cognome</a> -
            <span th:text="${arbitro.codiceArbitrale}">Codice</span>
        </li>
    </ul>

    <br>
    <a href="/tornei">Torna ai tornei</a>

</body>

</html>