<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Dettaglio Arbitro</title>
</head>

<body>

    <h1 th:text="${arbitro.nome} + ' ' + ${arbitro.cognome}">Nome Cognome</h1>

    <p><strong>Codice arbitrale:</strong> <span th:text="${arbitro.codiceArbitrale}"></span></p>

    <div>
        <a th:href="@{'/admin/arbitro/delete/' + ${arbitro.id}}">Elimina arbitro</a>
    </div>

    <br>
    <a href="/arbitri">Torna all'elenco degli arbitri</a>

</body>

</html>