<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Dettaglio Utente</title>
</head>

<body>
    <nav>
        <a href="/tornei">Tornei</a> |
        <a href="/squadre">Squadre</a> |
        <a href="/giocatori">Giocatori</a> |
        <a href="/arbitri">Arbitri</a> |
        <a href="/partite">Partite</a> |
        <a href="/utenti" sec:authorize="hasRole('ADMIN')">Utenti</a>
    </nav>
    <hr>
    <h1 th:text="${utente.username}">Username</h1>
    <p><strong>Ruolo:</strong> <span th:text="${utente.ruolo}"></span></p>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/admin/utente/delete/' + ${utente.id}}">Elimina utente</a>
    </div>
    <br>
    <a href="/utenti">Torna all'elenco degli utenti</a>
</body>

</html>