<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Nuova Squadra</title>
</head>

<body>

	<nav>
		<a href="/tornei">Tornei</a> |
		<a href="/squadre">Squadre</a> |
		<a href="/giocatori">Giocatori</a> |
		<a href="/arbitri">Arbitri</a> |
		<a href="/partite">Partite</a> |
		<a href="/utenti" sec:authorize="hasRole('ADMIN')">Utenti</a>
	</nav>
	<hr>
	<h1>Inserisci una nuova squadra</h1>
	<form th:action="@{/admin/squadra}" th:object="${squadra}" method="POST" enctype="multipart/form-data">

		<div>
			<label for="nome">Nome:</label>
			<input type="text" id="nome" th:field="*{nome}" required />
		</div>

		<div>
			<label for="annoDiFondazione">Anno di fondazione:</label>
			<input type="number" id="annoDiFondazione" th:field="*{annoDiFondazione}" required />
		</div>

		<div>
			<label for="citta">Città:</label>
			<input type="text" id="citta" th:field="*{citta}" required />
		</div>

		<div>
			<p>Tornei a cui partecipa:</p>

			<div th:each="torneo : ${elencoTornei}">
				<input type="checkbox" name="torneiIds" th:value="${torneo.id}" />
				<span th:text="${torneo.nome}"></span>
			</div>
		</div>


		<div>
			<label for="fileLogo">Logo Squadra:</label>
			<input type="file" id="fileLogo" name="fileLogo" accept="image/*" />
		</div>

		<div>
			<button type="submit">Salva Squadra</button>
		</div>

	</form>

</body>

</html>