<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Nuovo Giocatore</title>
</head>

<body>

    <h1>Inserisci un nuovo giocatore</h1>

    <form th:action="@{/admin/giocatore}" th:object="${giocatore}" method="POST">

        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" required />
        </div>

        <div>
            <label for="cognome">Cognome:</label>
            <input type="text" id="cognome" th:field="*{cognome}" required />
        </div>

        <div>
            <label for="dataDiNascita">Data di nascita:</label>
            <input type="date" id="dataDiNascita" th:field="*{dataDiNascita}" required />
        </div>

        <div>
            <label for="ruolo">Ruolo:</label>
            <input type="text" id="ruolo" th:field="*{ruolo}" required />
        </div>

        <div>
            <label for="altezza">Altezza (cm):</label>
            <input type="number" id="altezza" th:field="*{altezza}" required />
        </div>

        <div>
            <label for="squadra">Squadra:</label>
            <select id="squadra" name="squadraId">
                <option th:each="squadra : ${elencoSquadre}" th:value="${squadra.id}" th:text="${squadra.nome}">Nome
                    squadra</option>
            </select>
        </div>

        <div>
            <button type="submit">Salva Giocatore</button>
        </div>

    </form>

    <br>
    <a href="/giocatori">Torna alla lista dei giocatori</a>

</body>

</html>