<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/form.css}" />
</head>

<body>
    <div class="content-wrap"
        style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h1>Accedi</h1>

        <form th:action="@{/login}" method="POST">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required />
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required />
            </div>
            <div>
                <button type="submit">Accedi</button>
            </div>
        </form>

        <br>
        <div>
            <a th:href="@{/oauth2/authorization/google}">Accedi con Google</a>
        </div>

        <br>
        <a href="/registrazione">Non hai un account? Registrati</a>

        <br>
        <a href="/tornei">&larr; Torna alla home</a>
    </div>

    <footer>
        <div>
            <p>&copy; 2026 Gestione Torneo Calcistico. Tutti i diritti riservati.</p>
        </div>
        <div class="footer-links">
            <a href="/tornei">Home</a>
            <a href="/partite">Partite</a>
            <a href="/squadre">Squadre</a>
        </div>
    </footer>
</body>

</html>