<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registrazione</title>
</head>

<body>

    <h1>Crea un nuovo account</h1>

    <form th:action="@{/registrazione}" th:object="${utente}" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" required />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required />
        </div>
        <div>
            <button type="submit">Registrati</button>
        </div>
    </form>

    <br>
    <a href="/login">Hai già un account? Accedi</a>

</body>

</html>