<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>Elenco Squadre</title>
</head>

<body>

	<nav>
		<a href="/tornei">Tornei</a> |
		<a href="/squadre">Squadre</a> |
		<a href="/giocatori">Giocatori</a> |
		<a href="/arbitri">Arbitri</a> |
		<a href="/partite">Partite</a> |
		<a href="/utenti" sec:authorize="hasRole('ADMIN')">Utenti</a>
	</nav>
	<hr>

	<h1>Tutte le Squadre</h1>

	<a th:href="@{/admin/squadra/nuova}" sec:authorize="hasRole('ADMIN')">Nuova squadra</a>

	<ul>
		<li th:each="squadra : ${elencoSquadre}">
			<a th:href="@{'/squadra/' + ${squadra.id}}" th:text="${squadra.nome}">Nome squadra</a>
			<span th:text="${squadra.citta}">Città</span>
		</li>
	</ul>

	<br>
	<a href="/tornei">Torna ai tornei</a>

</body>


</html>