<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Elenco Utenti</title>
</head>

<body>
    <nav>
        <a href="/tornei">Tornei</a> |
        <a href="/squadre">Squadre</a> |
        <a href="/giocatori">Giocatori</a> |
        <a href="/arbitri">Arbitri</a> |
        <a href="/partite">Partite</a> |
        <a href="/utenti" sec:authorize="hasRole('ADMIN')">Utenti</a>
    </nav>
    <hr>
    <h1>Tutti gli Utenti</h1>
    <a th:href="@{/admin/utente/nuovo}" sec:authorize="hasRole('ADMIN')">Nuovo utente</a>
    <ul>
        <li th:each="utente : ${elencoUtenti}">
            <a th:href="@{'/utente/' + ${utente.id}}" th:text="${utente.username}">Username</a> -
            <span th:text="${utente.ruolo}">Ruolo</span>
            <a th:href="@{'/admin/utente/delete/' + ${utente.id}}" sec:authorize="hasRole('ADMIN')">[Elimina]</a>
        </li>
    </ul>
</body>

</html>